.u-section-1 .u-sheet-1 {
  min-height: 893px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  font-size: 6rem;
  margin: 189px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  border-style: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-weight: 700;
  background-image: none;
  margin: 282px auto 60px;
  padding: 14px 38px 15px 37px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 194px;
    margin-right: -71px;
    margin-left: -10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  color: #ffffff !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  color: #ffffff !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1350px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  font-weight: normal;
  font-size: 3rem;
  margin: 76px auto 0 310px;
}

.u-section-2 .u-image-1 {
  width: 549px;
  height: 526px;
  object-position: 43.75% 50%;
  margin: 53px auto 0 0;
}

.u-section-2 .u-text-2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.7;
  background-image: none;
  font-family: Manrope;
  margin: -526px 14px 0 570px;
}

.u-section-2 .u-rotation-parent-1 {
  width: 1013px;
  height: 159px;
  margin: -11px 39px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 159px;
  height: 1013px;
}

.u-section-2 .u-text-3 {
  text-align: center;
  font-size: 3rem;
  font-family: Manrope;
  font-weight: normal;
  margin: 40px -28px 0;
}

.u-section-2 .u-group-1 {
  width: 230px;
  min-height: 92px;
  margin: 85px auto 0 602px;
}

.u-section-2 .u-container-layout-1 {
  padding: 12px 29px;
}

.u-section-2 .u-text-4 {
  text-align: center;
  font-size: 1.5rem;
  margin: 4px 0 0;
}

.u-section-2 .u-group-2 {
  width: 538px;
  min-height: 92px;
  margin: -92px auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 266px;
  text-align: center;
  margin: 7px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-shape-1 {
  width: 230px;
  height: 92px;
  text-align: center;
  margin: -7px auto 0 14px;
}

.u-section-2 .u-text-5 {
  text-align: center;
  font-size: 1.25rem;
  margin: -62px auto 0 39px;
}

.u-section-2 .u-shape-2 {
  width: 230px;
  height: 92px;
  text-align: center;
  margin: -62px 0 0 auto;
}

.u-section-2 .u-text-6 {
  text-align: center;
  font-size: 1.5rem;
  margin: -73px 29px 0 337px;
}

.u-section-2 .u-list-2 {
  width: 165px;
  margin: -33px auto 0 143px;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-group-3 {
  width: 230px;
  min-height: 92px;
  margin: -59px 14px 60px auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 14px 25px;
}

.u-section-2 .u-text-7 {
  text-align: center;
  font-size: 1.5rem;
  margin: 15px 0 0 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    object-position: 41.45% 50%;
    width: 435px;
    height: 424px;
    margin-top: 114px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -499px;
    margin-right: -6px;
    margin-left: 441px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 940px;
    height: 74px;
    margin-top: -37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 147px;
    height: 940px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 78px;
    margin-top: -10px;
    margin-right: 108px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -57px;
    margin-right: -494px;
    margin-left: 560px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 216px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-shape-1 {
    margin-top: -196px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 89px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -230px;
  }

  .u-section-2 .u-text-6 {
    width: 172px;
    margin-top: -72px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-group-3 {
    min-height: 200px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -56px;
    margin-right: -732px;
    margin-left: 793px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 331px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 720px;
    margin-top: -26px;
  }

  .u-section-2 .u-image-2 {
    width: 113px;
    height: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -38px;
    margin-right: 127px;
    margin-left: 421px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-7 {
    margin-left: 548px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-2 .u-image-1 {
    object-position: 68.22% 50%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 241px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    width: 85px;
    height: 540px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 37px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 368px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-2 .u-image-1 {
    height: 331px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -406px;
    margin-left: 141px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 54px;
    height: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 168px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 168px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.12) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.12) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif, monospace;
  scroll-behavior: smooth;
}

.u-section-3 .u-sheet-1 {
  min-height: 3468px;
}

.u-section-3 .u-text-1 {
  text-align: center;
  font-size: 6rem;
  margin: 59px auto 0;
}

.u-section-3 .u-list-1 {
  width: 283px;
  margin: 60px 310px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 98px 855px 0 -80px;
}

.u-section-3 .u-text-3 {
  text-align: center;
  font-size: 3rem;
  margin: 35px 159px 0 0;
}

.u-section-3 .u-image-1 {
  width: 159px;
  height: 1866px;
  margin: -221px -35px 0 auto;
}

.u-section-3 .u-text-4 {
  text-align: center;
  font-size: 3rem;
  margin: -443px 111px 0 35px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-align: center;
  margin: -1432px 855px 0 -80px;
}

.u-section-3 .u-text-6 {
  text-align: center;
  font-size: 3rem;
  margin: 35px 159px 0 35px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  text-align: center;
  margin: 122px 855px 0 -80px;
}

.u-section-3 .u-text-8 {
  text-align: center;
  font-size: 3rem;
  margin: 43px 159px 0 35px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  text-align: center;
  margin: 132px 855px 0 -80px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  text-align: center;
  margin: 573px 855px 0 -80px;
}

.u-section-3 .u-text-11 {
  text-align: center;
  font-size: 3rem;
  margin: 60px 111px 60px 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2882px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 697px;
    margin-left: -22px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 252px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -282px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -512px;
    margin-right: 159px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -1198px;
    margin-right: 713px;
    margin-left: -38px;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 202px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 713px;
    margin-left: -38px;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 202px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 655px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 469px;
    margin-right: 697px;
    margin-left: -22px;
  }

  .u-section-3 .u-text-11 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 159px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-top: 239px;
    margin-right: 587px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 32px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 182px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: -1898px;
    margin-right: 603px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 188px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 484px;
    margin-right: 603px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 88px;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 129px;
    margin-right: 435px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 306px;
    margin-right: 587px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-list-1 {
    margin-right: 257px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 57364px;
    margin-right: 497px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -78495px;
    margin-right: -35px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 164px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -2444px;
    margin-right: 513px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-left: -38px;
    margin-right: 513px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 803px;
    margin-right: 513px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 174px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 319px;
    margin-right: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-list-1 {
    margin-right: 57px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 60077px;
    margin-right: 397px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    margin-top: -82174px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 216px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -2451px;
    margin-right: 413px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 206px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 530px;
    margin-right: 413px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 211px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 162px;
    margin-left: -80px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 488px;
    margin-right: 397px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 699px;
}

.u-section-4 .u-image-1 {
  width: 385px;
  min-height: 412px;
  background-image: url("images/Untitleddesign.jpg");
  background-position: 50% 50%;
  margin: 74px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-4 .u-text-1 {
  font-size: 2.77778rem;
  font-weight: 700;
  font-family: Manrope;
  margin: 34px 60px 0 auto;
}

.u-section-4 .u-image-2 {
  height: 320px;
  width: 325px;
  margin: 5px auto 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 736px;
  margin: -375px 0 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 400px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-4 .u-image-3 {
  height: 175px;
  width: 175px;
  background-image: url("images/Untitleddesign.jpg?rand=6e04");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: Manrope;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 0.777778rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 50px 30px;
}

.u-section-4 .u-image-4 {
  height: 175px;
  width: 175px;
  background-image: url("images/Untitleddesign.jpg?rand=2b23");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-family: Manrope;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 0.777778rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 50px 30px;
}

.u-section-4 .u-image-5 {
  height: 175px;
  width: 175px;
  background-image: url("images/Untitleddesign.jpg?rand=8272");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-family: Manrope;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-size: 0.777778rem;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-list-1 {
    width: 545px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 426px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 148px;
    width: 148px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 148px;
    width: 148px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-5 {
    height: 148px;
    width: 148px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 315px;
    grid-gap: 0px 0px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 297px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 83px;
    margin-bottom: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 614px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 198px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 315px;
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 86px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 858px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 492px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: Manrope;
  margin: 60px auto 0;
}

.u-section-5 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 50px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}