.u-section-1 .u-sheet-1 {
  min-height: 726px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-family: Manrope;
  font-weight: 500;
  margin: 28px 343px 0 380px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-weight: 700;
  background-image: none;
  margin: 123px 487px 60px auto;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-right: 248px;
    margin-left: 275px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 114px;
    margin-right: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 59px;
    margin-right: 134px;
    margin-left: 169px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 101px;
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 417px;
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 76px;
    margin-right: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 4px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 101px;
    margin-right: 91px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1331px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  font-weight: normal;
  margin: 75px auto 0;
}

.u-section-2 .u-image-1 {
  width: 549px;
  height: 526px;
  object-position: 43.75% 50%;
  margin: 49px auto 0 -25px;
}

.u-section-2 .u-text-2 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  font-family: Manrope;
  margin: -444px 31px 0 553px;
}

.u-section-2 .u-image-2 {
  width: 549px;
  height: 526px;
  object-position: 43.75% 50%;
  margin: 91px -26px 0 auto;
}

.u-section-2 .u-text-3 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  font-family: Manrope;
  margin: -472px 598px 30px -15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-2 .u-image-1 {
    object-position: 41.45% 50%;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -504px;
    margin-right: 0;
    margin-left: 541px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 151px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: -600px 549px 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    transform: scale(1.12) translateX(0px) translateY(0px);
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 62px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 355px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -47px;
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1737px;
  }

  .u-section-2 .u-image-1 {
    object-position: 68.22% 50%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -65px;
    margin-left: 0;
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-2 .u-image-1 {
    height: 326px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-image-2 {
    height: 326px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: -13px;
    margin-bottom: 0;
    margin-left: 13px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.12) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.12) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 804px;
}

.u-section-3 .u-text-1 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  margin: 40px 859px 0 33px;
}

.u-section-3 .u-text-2 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  width: 248px;
  margin: -340px auto 0;
}

.u-section-3 .u-text-3 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  margin: -329px 83px 0 809px;
}

.u-section-3 .u-text-4 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  margin: 22px 859px 0 33px;
}

.u-section-3 .u-text-5 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  width: 248px;
  margin: -340px auto 0;
}

.u-section-3 .u-text-6 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  margin: -329px 83px 0 809px;
}

.u-section-3 .u-gallery-1 {
  height: 804px;
  grid-gap: 10px 10px;
  margin-top: -764px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  object-position: 0% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -784px;
    margin-right: calc(((100% - 940px) / 2) + 518px);
    margin-left: calc(((100% - 940px) / 2) + 174px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 183px);
    margin-left: calc(((100% - 940px) / 2) + 509px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + -52px);
    margin-left: calc(((100% - 940px) / 2) + 844px);
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 518px);
    margin-left: calc(((100% - 940px) / 2) + 174px);
  }

  .u-section-3 .u-text-5 {
    margin-top: -784px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -784px;
    margin-right: calc(((100% - 940px) / 2) + -52px);
    margin-left: calc(((100% - 940px) / 2) + 844px);
  }

  .u-section-3 .u-gallery-1 {
    height: 800px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4486px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 408px);
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 73px);
    margin-left: calc(((100% - 720px) / 2) + 399px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + -52px);
    margin-left: calc(((100% - 720px) / 2) + 734px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 408px);
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + -52px);
    margin-left: calc(((100% - 720px) / 2) + 734px);
  }

  .u-section-3 .u-gallery-1 {
    height: 2031px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 41311px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 292px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 292px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + -52px);
    margin-left: calc(((100% - 540px) / 2) + 644px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 292px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + -52px);
    margin-left: calc(((100% - 540px) / 2) + 644px);
  }

  .u-section-3 .u-gallery-1 {
    height: 5350px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 40254px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 92px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 92px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + -52px);
    margin-left: calc(((100% - 340px) / 2) + 544px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 92px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + -52px);
    margin-left: calc(((100% - 340px) / 2) + 544px);
  }

  .u-section-3 .u-gallery-1 {
    height: 3369px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1390px;
}

.u-section-4 .u-shape-1 {
  width: 643px;
  background-image: linear-gradient(#000592, black);
  height: 1048px;
  margin: 78px auto 0 193px;
}

.u-section-4 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px 10px;
  margin: -924px auto 0 48px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-text-1 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.7;
  background-image: none;
  font-family: Manrope;
  margin: 132px 24px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-4 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    width: 879px;
    height: 609px;
    margin-top: -773px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1822px;
  }

  .u-section-4 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 394px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    height: 1122px;
    margin-top: -1296px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4028px;
  }

  .u-section-4 .u-shape-1 {
    width: 402px;
    height: 2745px;
    margin-top: 0;
    margin-right: 138px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    width: 440px;
    height: 2486px;
    margin-top: -2680px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2802px;
  }

  .u-section-4 .u-shape-1 {
    width: 276px;
    height: 2201px;
    margin-top: 327px;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-1 {
    width: 305px;
    height: 1735px;
    margin-top: -2036px;
    margin-right: 7px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 594px;
}

.u-section-5 .u-image-1 {
  width: 385px;
  min-height: 412px;
  background-image: url("images/Untitleddesign.jpg");
  background-position: 50% 50%;
  margin: 74px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-5 .u-text-1 {
  font-size: 2.77778rem;
  font-weight: 700;
  font-family: Manrope;
  margin: 34px 60px 0 auto;
}

.u-section-5 .u-image-2 {
  height: 320px;
  width: 325px;
  margin: 5px auto 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 736px;
  margin: -375px 0 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 400px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-5 .u-image-3 {
  height: 175px;
  width: 175px;
  background-image: url("images/Untitleddesign.jpg?rand=6e04");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-family: Manrope;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 0.777778rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 50px 30px;
}

.u-section-5 .u-image-4 {
  height: 175px;
  width: 175px;
  background-image: url("images/Untitleddesign.jpg?rand=2b23");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-family: Manrope;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 0.777778rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 50px 30px;
}

.u-section-5 .u-image-5 {
  height: 175px;
  width: 175px;
  background-image: url("images/Untitleddesign.jpg?rand=8272");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-family: Manrope;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  font-size: 0.777778rem;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 426px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 148px;
    width: 148px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 148px;
    width: 148px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 148px;
    width: 148px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 315px;
    grid-gap: 0px 0px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 659px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 198px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 315px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 86px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 858px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 492px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: Manrope;
  margin: 60px auto 0;
}

.u-section-6 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 50px;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}